<div class="books_container" ng-controller="book_controller">

	<div class="container">
		
		<div class="row">
			
			<div class="col-md-5 text-right">
				<h2>Libros <button class="btn btn-default">Nuevo [{{book_id}}]</button></h2>

			</div>

			<div class="col-md-7">
				<br />
				<div class="books-box">

					<hr/>
					<button class="btn btn-default book-list" type="button" >
					  	<div class="row">
					  		<div class="col-md-8 text-left">
					  			<div class="books-box-title">Poémas de mi alma</div> 
					  		</div>
					  		<div class="col-md-4 text-right">
					  			<span class="badge">4</span> escritos 
					  			<span class="badge">10</span> compartidos
					  		</div>
					</button>

					<hr/>
					<button class="btn btn-default book-list" type="button">
					  	<div class="row">
					  		<div class="col-md-8 text-left">
					  			<div class="books-box-title">Poémas de mi alma</div> 
					  		</div>
					  		<div class="col-md-4 text-right">
					  			<span class="badge">4</span> escritos 
					  			<span class="badge">10</span> compartidos
					  		</div>
					</button>

					<hr/>
				</div>

			</div>

		</div>
	</div>

</div>